@model Btk.CaaS.Models.CountdownModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Coming Soon";
}

@section scripts
{
    @Scripts.Render("~/bundles/countdown")
    <script type="text/javascript">
        counter(function()
        {
            $(".countdown-number").fadeTo(500, 0.1).fadeTo(500, 1.0).fadeTo(500, 0.1).fadeTo(500, 1.0, function ()
            {
                $(".countdown-header").html("already")
                $(".countdown-footer").html("released");
                $("#serviceLink").removeClass("hidden");
            });
        })
    </script>
}


<div id="test"></div>
<div id="countdown" class="countdown-container" data-countdown-remaining="@Model.RemainingSeconds">
    <div class="countdown-header">
        Just
    </div>
    <div class="countdown-box">
        <div id="countdown-hours" class="countdown-number">
        </div>
        <div class="countdown-label">
            HOURS
        </div>
    </div>
    <div class="countdown-separator">
        <div class="countdown-number">
            :
        </div>
    </div>
    <div class="countdown-box">
        <div id="countdown-minutes" class="countdown-number">
        </div>
        <div class="countdown-label">
            MINUTES
        </div>
    </div>
    <div class="countdown-separator">
        <div class="countdown-number">
            :
        </div>
    </div>
    <div class="countdown-box">
        <div id="countdown-seconds" class="countdown-number">
        </div>
        <div class="countdown-label">
            SECONDS
        </div>
    </div>
    <div class="countdown-footer">
        to release...
    </div>
</div>

<div id="serviceLink" class="col-md-offset-7 col-md-5 hidden">
    @Html.ActionLink("Go to Service...", "Index", null, new { @class = "btn btn-default" })
</div>
