@model string
@{
    ViewBag.Title = "Cowsay-as-a-Service";
}

@section scripts
{
    @Scripts.Render("~/Scripts/cowAnim.js");
}

<div class="cow-container">
    <pre id="cow">
    @ViewBag.Cowsay
    </pre>
</div>

<div class="row infobox">
    <div class="col-sm-3 col-sm-offset-3">
        <h2>API</h2>
        <p>
            Simple API. Just send POST with Message as it's content and you'll get cowsay computed at our cloud.
        </p>
        <p>
            POST Uri: ~/api/cowsay
        </p>
    </div>

    <div class="col-sm-3">
        <h2>Coming Soon</h2>
        <p>
            Keep in touch to get fresh news about hot cowthink product!
        </p>
    </div>
</div>