@{
    ViewBag.Title = "Cowsay-as-a-Service";
}

@using(Ajax.BeginForm("","api/cowsay", 
    new AjaxOptions { 
        HttpMethod = "Post",
        InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
        UpdateTargetId = "Cow" } ))
{
    @Html.Hidden("message", "Hello there, does this stuff work good?");
    <input class="btn btn-default" type="submit" value="Go Cow!"/>
}

<div class="cow-container">
    <pre id="Cow">
    </pre>
</div>

<div class="row infobox">
    <div class="col-sm-2 col-sm-offset-2">
        <h2>API</h2>
        <p>
            Simple API. Just send POST with Message as it's content and you'll get cowsay computed at our cloud.
        </p>
    </div>

    <div class="col-sm-4">
        <h2>Coming Soon</h2>
        <p>
            Keep in touch to get fresh news about hot cowthink product!
        </p>
    </div>

    <div class="col-sm-2">
        <h2>Title 3</h2>
        <p>
            Hue hue hue hue hue
        </p>
    </div>
</div>